{% extends 'layout.html' %} {% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h3>Welcome to the Dealflow Management Interface</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-1">
                </div>
                <div class="col-xs-12 col-md-10">
                    <p>This interface contains five components: Activity Reports, Graphic Design, Legal Disclaimers, Marketing Work, and Publication Production. Below is a brief description of each section.</p>
                    <ul>
                        <li>
                            Activity Reports - Here you will find the Google Analytics related reports that highlight website activity. Also, there is a set of SQL reports that help management understand research activity by directly querying Dealflow’s backend.</li>
                        <li>
                            Graphic Design - This section contains design work and was historically used to showcase screen designs for App 1.0 and App 2.0.</li>
                        <li>
                            Legal Disclaimers - Here you will find a set of disclaimers used across many channels. This is a good place to review disclaimer text when business objectives changes.</li>
                        <li>
                            Marketing Work - Here is a collection of emails used by marcom. These emails are organized by theme. Going forward, graphic design related work will be showcased here as well.</li>
                        <li>
                            Publication Production - This section is used in the report and publication automation process. The interface converts tab separated spreadsheets into InDesign XML.</li>
                </div>
                <div class="col-xs-12 col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}