<xmp>
    <?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
    <Story>
        {% for item in json_out -%} {% if item.tablestart == 'TRUE' %}
        <Table xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/" aid:table="table" aid:trows="{{ 2 * item.tablerows + 2 }}" aid:tcols="7">
            <SectorHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="7">Private Placements: {{ item.sector }}</SectorHead>
            <DateHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="46">Date</DateHead>
            <IssuerHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="156">Issuer</IssuerHead>
            <RaisingHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="70">Raising</RaisingHead>
            <SpacerHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="10"></SpacerHead>
            <TypeHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="64">Security Type</TypeHead>
            <NameHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="88">Contact Name</NameHead>
            <PhoneHead aid:table="cell" aid:theader="" aid:crows="1" aid:ccols="1" aid:ccolwidth="70">Telephone</PhoneHead>
            {% endif %}
            <DealDate aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="46">{{ item.date }}</DealDate>
            <DealIssuer aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="156" colink="http://app.dealflow.com/d/index.html#/companies/{{ item.CID }}">{{ item.issuer }}</DealIssuer>
            <DealRaising aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="70">{{ item.raising }}</DealRaising>
            <Spacer aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="10"></Spacer>
            <DealType aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="64">{{ item.security }}</DealType>
            <ContactName aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="88">{{ item.name }}</ContactName>
            <ContactNumber aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="70">{{ item.contact }}</ContactNumber>
            <Spacer aid:table="cell" aid:crows="1" aid:ccols="1" aid:ccolwidth="46"></Spacer>
            <DealDescription aid:table="cell" aid:crows="1" aid:ccols="6">{{ item.description }}</DealDescription>
            {% if item.tableend == 'TRUE' %}
        </Table>
        {% endif %} {% endfor %}
    </Story>
</xmp>