{% extends '../layout.html' %} {% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12" class="section-label">
                    <br />
                    <p align="right"><a href="/publications">Return</a></p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3"></div>
                <div class="col-xs-12 col-md-6">
                    <br />
                    <textarea id="uriin" rows="10" cols="50"></textarea>
                    <br />
                    <a href="#" onclick="uriencode()" class="pull-right">Convert</a>
                    <hr />
                </div>
                <div class="col-xs-12 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-10">
                    <pre id="uriout">

                    </pre>
                </div>
                <div class="col-xs-12 col-md-1"></div>
            </div>
        </div>
    </div>
</div>
<script>
var uriencode = function() {
    var urls = jQuery('#uriin').val();
    var encoded = encodeURIComponent(urls);
    encoded = encoded.replace(/%0A/g, decodeURIComponent('%0A'));
    jQuery('#uriout').html(encoded);
}
</script>
<div class="page-container">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="uploadForm" enctype="multipart/form-data" action="/publications/upload/urlset" method="post">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar" style="width:280px; margin: auto;">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <label class="control-label">Set Type</label>
                            <div class="radio-list">
                                <div class="radio-group">
                                    <input type="radio" name="type" id="type" value="datapub" checked="checked" />
                                    <label class="label label-success label-adjustment"> Data Publication Email</label>
                                    <br />
                                    <br />
                                    <input type="radio" name="type" id="type" value="other" />
                                    <label class="label label-success label-adjustment"> Other </label>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <input type="file" name="tabseparated" />
                            <br />
                            <br />
                            <button type="submit" class="btn btn-default start">
                                <i class="fa fa-upload"></i><span>Start upload </span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process">
                                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}