{% extends '../layout.html' %} {% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h3>Welcome to the Marketing Management Interface</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h5>Publications</h5>
                    <br />
                    <p>Private Placements B Emails (<a data-toggle="collapse" href="#seriesb" aria-expanded="false" aria-controls="seriesb">View</a>)</p>
                    <div class="collapse" id="seriesb">
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB13" target="_blank">Private Placement Publication (PPB13) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB13/index.txt" target="_blank">Private Placement Publication (PPB13) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB12" target="_blank">Private Placement Publication (PPB12) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB12/index.txt" target="_blank">Private Placement Publication (PPB12) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB11" target="_blank">Private Placement Publication (PPB11) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB11/index.txt" target="_blank">Private Placement Publication (PPB11) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB10" target="_blank">Private Placement Publication (PPB10) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB10/index.txt" target="_blank">Private Placement Publication (PPB10) Template TXT</a></p>
                        <br />
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB9" target="_blank">Private Placement Publication (PPB9) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB9/index.txt" target="_blank">Private Placement Publication (PPB9) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB8" target="_blank">Private Placement Publication (PPB8) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB8/index.txt" target="_blank">Private Placement Publication (PPB8) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB7" target="_blank">Private Placement Publication (PPB7) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB7/index.txt" target="_blank">Private Placement Publication (PPB7) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB6" target="_blank">Private Placement Publication (PPB6) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB6/index.txt" target="_blank">Private Placement Publication (PPB6) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB5" target="_blank">Private Placement Publication (PPB5) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB5/index.txt" target="_blank">Private Placement Publication (PPB5) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB4" target="_blank">Private Placement Publication (PPB4) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB4/index.txt" target="_blank">Private Placement Publication (PPB4) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB3" target="_blank">Private Placement Publication (PPB3) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB3/index.txt" target="_blank">Private Placement Publication (PPB3) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB2" target="_blank">Private Placement Publication (PPB2) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB2/index.txt" target="_blank">Private Placement Publication (PPB2) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB1" target="_blank">Private Placement Publication (PPB1) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesB/PPB1/index.txt" target="_blank">Private Placement Publication (PPB1) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Private Placements A Emails (<a data-toggle="collapse" href="#seriesa" aria-expanded="false" aria-controls="seriesa">View</a>)</p>
                    <div class="collapse" id="seriesa">
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP14" target="_blank">Private Placement Publication (PP14) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP14/index.txt" target="_blank">Private Placement Publication (PP14) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP13" target="_blank">Private Placement Publication (PP13) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP13/index.txt" target="_blank">Private Placement Publication (PP13) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP12" target="_blank">Private Placement Publication (PP12) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP12/index.txt" target="_blank">Private Placement Publication (PP12) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP11" target="_blank">Private Placement Publication (PP11) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP11/index.txt" target="_blank">Private Placement Publication (PP11) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP10" target="_blank">Private Placement Publication (PP10) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP10/index.txt" target="_blank">Private Placement Publication (PP10) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP9" target="_blank">Private Placement Publication (PP9) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP9/index.txt" target="_blank">Private Placement Publication (PP9) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP8" target="_blank">Private Placement Publication (PP8) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP8/index.txt" target="_blank">Private Placement Publication (PP8) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP7" target="_blank">Private Placement Publication (PP7) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP7/index.txt" target="_blank">Private Placement Publication (PP7) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP6" target="_blank">Private Placement Publication (PP6) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP6/index.txt" target="_blank">Private Placement Publication (PP6) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP5" target="_blank">Private Placement Publication (PP5) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP5/index.txt" target="_blank">Private Placement Publication (PP5) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP4" target="_blank">Private Placement Publication (PP4) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP4/index.txt" target="_blank">Private Placement Publication (PP4) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP3" target="_blank">Private Placement Publication (PP3) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP3/index.txt" target="_blank">Private Placement Publication (PP3) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP2" target="_blank">Private Placement Publication (PP2) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP2/index.txt" target="_blank">Private Placement Publication (PP2) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/datapub/SeriesA/PP1" target="_blank">Private Placement Publication (PP1) Template HTML</a></p>
                        <p><a href="/marketing/emails/datapub/SeriesA/PP1/index.txt" target="_blank">Private Placement Publication (PP1) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Venture Capital (<a data-toggle="collapse" href="#venture" aria-expanded="false" aria-controls="venture">View</a>)</p>
                    <div class="collapse" id="venture">
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC23-Opt" target="_blank">Venture Capital (VC23) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/VC23-Opt/index.txt" target="_blank">Venture Capital (VC23) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC22-Opt" target="_blank">Venture Capital (VC22) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/VC22-Opt/index.txt" target="_blank">Venture Capital (VC22) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC21-Opt" target="_blank">Venture Capital (VC21) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/VC21-Opt/index.txt" target="_blank">Venture Capital (VC21) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC20-Opt" target="_blank">Venture Capital (VC20) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/VC20-Opt/index.txt" target="_blank">Venture Capital (VC20) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC19-Opt" target="_blank">Venture Capital (VC19) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC19) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC18-Opt" target="_blank">Venture Capital (VC18) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC18) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC17-Opt" target="_blank">Venture Capital (VC17) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC17) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC16-Opt" target="_blank">Venture Capital (VC16) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC16) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC15-Opt" target="_blank">Venture Capital (VC15) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC15) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC14-Opt" target="_blank">Venture Capital (VC14) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC14) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC13-Opt" target="_blank">Venture Capital (VC13) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC13) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC12-Opt" target="_blank">Venture Capital (VC12) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC12) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/VC11-Opt" target="_blank">Venture Capital (VC11) Template HTML</a></p>
                        <p><a href="#" target="_blank">Venture Capital (VC11) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Healthcare (<a data-toggle="collapse" href="#healthcare" aria-expanded="false" aria-controls="healthcare">View</a>)</p>
                    <div class="collapse" id="healthcare">
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC17-Opt" target="_blank">Healthcare (HC17) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/HC17-Opt/index.txt" target="_blank">Healthcare (HC17) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC16-Opt" target="_blank">Healthcare (HC16) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/HC16-Opt/index.txt" target="_blank">Healthcare (HC16) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC15-Opt" target="_blank">Healthcare (HC15) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/HC15-Opt/index.txt" target="_blank">Healthcare (HC15) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC14-Opt" target="_blank">Healthcare (HC14) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/HC14-Opt/index.txt" target="_blank">Healthcare (HC14) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC13-Opt" target="_blank">Healthcare (HC13) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC13) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC12-Opt" target="_blank">Healthcare (HC12) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC12) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC11-Opt" target="_blank">Healthcare (HC11) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC11) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC10-Opt" target="_blank">Healthcare (HC10) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC10) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC9-Opt" target="_blank">Healthcare (HC9) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC9) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC8-Opt" target="_blank">Healthcare (HC8) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC8) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC7-Opt" target="_blank">Healthcare (HC7) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC7) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/HC6-Opt" target="_blank">Healthcare (HC6) Template HTML</a></p>
                        <p><a href="#" target="_blank">Healthcare (HC6) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Technology Media Telecom (<a data-toggle="collapse" href="#technology" aria-expanded="false" aria-controls="technology">View</a>)</p>
                    <div class="collapse" id="technology">
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT15-Opt" target="_blank">Technology (TMT15) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT15-Opt/index.txt" target="_blank">Technology (TMT15) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT14-Opt" target="_blank">Technology (TMT14) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT14-Opt/index.txt" target="_blank">Technology (TMT14) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT13-Opt" target="_blank">Technology (TMT13) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT13-Opt/index.txt" target="_blank">Technology (TMT13) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT12-Opt" target="_blank">Technology (TMT12) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT12-Opt/index.txt" target="_blank">Technology (TMT12) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT11-Opt" target="_blank">Technology (TMT11) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT11-Opt/index.txt" target="_blank">Technology (TMT11) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT10-Opt" target="_blank">Technology (TMT10) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT10-Opt/index.txt" target="_blank">Technology (TMT10) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT9-Opt" target="_blank">Technology (TMT9) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT9-Opt/index.txt" target="_blank">Technology (TMT9) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT8-Opt" target="_blank">Technology (TMT8) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT8-Opt/index.txt" target="_blank">Technology (TMT8) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT7-Opt" target="_blank">Technology (TMT7) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT7-Opt/index.txt" target="_blank">Technology (TMT7) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT6-Opt" target="_blank">Technology (TMT6) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT6-Opt/index.txt" target="_blank">Technology (TMT6) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT5-Opt" target="_blank">Technology (TMT5) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT5-Opt/index.txt" target="_blank">Technology (TMT5) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT4-Opt" target="_blank">Technology (TMT4) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT4-Opt/index.txt" target="_blank">Technology (TMT4) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/TMT3-Opt" target="_blank">Technology (TMT3) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/TMT3-Opt/index.txt" target="_blank">Technology (TMT3) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Real Estate (<a data-toggle="collapse" href="#realestate" aria-expanded="false" aria-controls="realestate">View</a>)</p>
                    <div class="collapse" id="realestate">
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE8-Opt" target="_blank">Real Estate (RE8) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/RE8-Opt/index.txt" target="_blank">Technology (RE8) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE7-Opt" target="_blank">Real Estate (RE7) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/RE7-Opt/index.txt" target="_blank">Technology (RE7) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE6-Opt" target="_blank">Real Estate (RE6) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/RE6-Opt/index.txt" target="_blank">Technology (RE6) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE5-Opt" target="_blank">Real Estate (RE5) Template HTML</a></p>
                        <p><a href="/marketing/emails/newsletters/RE5-Opt/index.txt" target="_blank">Technology (RE5) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE4-Opt" target="_blank">Real Estate (RE4) Template HTML</a></p>
                        <p><a href="#" target="_blank">Technology (RE4) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE3-Opt" target="_blank">Real Estate (RE3) Template HTML</a></p>
                        <p><a href="#" target="_blank">Technology (RE3) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE2-Opt" target="_blank">Real Estate (RE2) Template HTML</a></p>
                        <p><a href="#" target="_blank">Technology (RE2) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/newsletters/RE1-Opt" target="_blank">Real Estate (RE1) Template HTML</a></p>
                        <p><a href="#" target="_blank">Technology (RE1) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>White Papers (<a data-toggle="collapse" href="#whitepapers" aria-expanded="false" aria-controls="whitepapers">View</a>)</p>
                    <div class="collapse" id="whitepapers">
                        <br />
                        <p><a href="/marketing/emails/whitepaper/WPASL" target="_blank">White Paper WPA December 2014</a></p>
                        <p><a href="/marketing/emails/whitepaper/WPQ414" target="_blank">White Paper Q4 2014</a></p>
                        <p><a href="/marketing/emails/whitepaper/WPQ314" target="_blank">White Paper Q3 2014</a></p>
                        <br />
                        <hr />
                    </div>
                    <hr />
                </div>
                <div class="col-xs-12 col-md-6">
                    <h5>Webcasts</h5>
                    <br />
                    <p>Dealflow Webcasts (<a data-toggle="collapse" href="#dealflow-wc6" aria-expanded="false" aria-controls="dealflow-wc6">View</a>)</p>
                    <div class="collapse" id="dealflow-wc6">
                        <br />
                        <p><a href="/marketing/emails/outreach/post-webcast7/attendees/" target="_blank">Dealflow Webcast 7 Post Question Attendees (Registrations Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/outreach/post-webcast7/attendees/index.txt" target="_blank">Dealflow Webcast 7 Post Attendees Outreach (Registrations Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/outreach/post-webcast7/missed/" target="_blank">Dealflow Webcast 7 Post Question Missed (Registrations Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/outreach/post-webcast7/missed/index.txt" target="_blank">Dealflow Webcast 7 Post Missed Outreach (Registrations Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/outreach/post-webcast7/question" target="_blank">Dealflow Webcast 7 Post Question Outreach (Registrations Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/outreach/post-webcast7/question/index.txt" target="_blank">Dealflow Webcast 7 Post Question Outreach (Registrations Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/members/html/" target="_blank">Dealflow Webcast 7 Round 3 (Members Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/members/html/index.txt" target="_blank">Dealflow Webcast 7 Round 3 (Members Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/sdcontacts/" target="_blank">Dealflow Webcast 7 Round 3 (SD Contacts Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/sdcontacts/index.txt" target="_blank">Dealflow Webcast 7 Round 3 (SD Contacts Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/mbcontacts/" target="_blank">Dealflow Webcast 7 Round 3 (MB Contacts Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round3/mbcontacts/index.txt" target="_blank">Dealflow Webcast 7 Round 3 (MB Contacts Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round2/html/" target="_blank">Dealflow Webcast 7 Round 2 (Graphic Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round2/html/index.txt" target="_blank">Dealflow Webcast 7 Round 2 (Graphic Email) Template TXT</a></p>
                        <br />
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round1/html/" target="_blank">Dealflow Webcast 7 Round 1 (Graphic Email) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round1/html/index.txt" target="_blank">Dealflow Webcast 7 Round 1 (Graphic Email) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow7/round1/text/" target="_blank">Dealflow Webcast 7 Round 1 (Plain Text) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow7/round1/text/index.txt" target="_blank">Dealflow Webcast 7 Round 1 (Plain Text) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/linkedin/" target="_blank">Dealflow Webcast 6 Round 1 (SD LinkedIn) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/linkedin/index.txt" target="_blank">Dealflow Webcast 6 Round 1 (SD LinkedIn) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/members/" target="_blank">Dealflow Webcast 6 Round 1 (Dealflow Members Since WC5) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/members/index.txt" target="_blank">Dealflow Webcast 6 Round 1 (Dealflow Members Since WC5) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/outlook/" target="_blank">Dealflow Webcast 6 Round 1 (SD Recent Outlook Contacts) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow6/round1/outlook/index.txt" target="_blank">Dealflow Webcast 6 Round 1 (SD Recent Outlook Contacts) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow6/round2/alltargets/" target="_blank">Dealflow Webcast 6 Round 2 (All Targets) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow6/round2/alltargets/index.txt" target="_blank">Dealflow Webcast 6 Round 2 (All Targets) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow6/round3/alltargets/" target="_blank">Dealflow Webcast 6 Round 3 (All Targets) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow6/round3/alltargets/index.txt" target="_blank">Dealflow Webcast 6 Round 3 (All Targets) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow5/index.html" target="_blank">Dealflow Webcast 5 Round 1 (Main) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow5/index.txt" target="_blank">Dealflow Webcast 5 Round 1 (Main) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow5/vara.html" target="_blank">Dealflow Webcast 5 Round 1 (Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow5/vara.txt" target="_blank">Dealflow Webcast 5 Round 1 (Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow5/varb.html" target="_blank">Dealflow Webcast 5 Round 1 (Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow5/varb.txt" target="_blank">Dealflow Webcast 5 Round 1 (Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vara.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vara.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varb.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varb.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varc.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation C) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varc.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation C) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vard.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation D) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vard.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation D) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vare.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation E) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vare.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation E) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varf.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation F) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varf.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation F) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varg.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation G) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varg.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation G) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varh.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation H) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/varh.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation H) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vari.html" target="_blank">Dealflow Webcast 4 Round 1 (Variation I) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round1/vari.txt" target="_blank">Dealflow Webcast 4 Round 1 (Variation I) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/investora.html" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/investora.txt" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/investorb.html" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/investorb.txt" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyera.html" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyera.txt" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyerb.html" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyerb.txt" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyerc.html" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation C) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round2/lawyerc.txt" target="_blank">Dealflow Webcast 4 Round 2 (Investor: Variation C) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round4/index.html" target="_blank">Dealflow Webcast 4 Round 4 (Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round4/index.txt" target="_blank">Dealflow Webcast 4 Round 4 (Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow4/round4/varb.html" target="_blank">Dealflow Webcast 4 Round 4 (Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow4/round4/varb.txt" target="_blank">Dealflow Webcast 4 Round 4 (Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vara.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation A) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vara.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation A) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varb.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation B) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varb.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation B) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varc.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation C) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varc.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation C) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vard.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation D) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vard.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation D) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vare.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation E) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vare.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation E) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varf.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation F) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varf.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation F) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varg.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation G) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varg.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation G) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varh.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation H) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/varh.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation H) Template TXT</a></p>
                        <br />
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vari.html" target="_blank">Dealflow Webcast 3 Round 1 (Variation I) Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/dealflow3/round1/vari.txt" target="_blank">Dealflow Webcast 3 Round 1 (Variation I) Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <p>Brixco Webcasts (<a data-toggle="collapse" href="#brixco-wc1" aria-expanded="false" aria-controls="brixco-wc1">View</a>)</p>
                    <div class="collapse" id="brixco-wc1">
                        <br />
                        <p><a href="/marketing/emails/webcasts/brixco1/" target="_blank">Brixco Webcast 1 Template HTML</a></p>
                        <p><a href="/marketing/emails/webcasts/brixco1/index.txt" target="_blank">Brixco Webcast 1 Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                    <br />
                    <h5>Application</h5>
                    <br />
                    <p>Alert Email v3 (<a data-toggle="collapse" href="#dealflow-app" aria-expanded="false" aria-controls="dealflow-app">View</a>)</p>
                    <div class="collapse" id="dealflow-app">
                        <br />
                        <p><a href="/marketing/emails/product/Alertv3/" target="_blank">Dealflow Application Alert Email v3 Template HTML</a></p>
                        <p><a href="/marketing/emails/product/Alertv3/empty.html" target="_blank">Dealflow Application Alert Email v3 (Empty) Template HTML</a></p>
                        <br />
                        <hr />
                    </div>
                    <h5>Investor Outreach</h5>
                    <br />
                    <p>Mid October - 2015 (<a data-toggle="collapse" href="#outreach" aria-expanded="false" aria-controls="outreach">View</a>)</p>
                    <div class="collapse" id="outreach">
                        <br />
                        <p><a href="/marketing/emails/outreach/pitch-mid-october-2015/" target="_blank">Dealflow Investor Outreach October 2015 - Template HTML</a></p>
                        <p><a href="/marketing/emails/outreach/pitch-mid-october-2015/index.txt" target="_blank">Dealflow Investor Outreach October 2015 - Template TXT</a></p>
                        <br />
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p></p>

                </div>
                <div class="col-xs-12 col-md-6">
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}