{% extends '../layout.html' %} {% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h3>Welcome to the Graphic Design Interface</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                   
                </div>
                <div class="col-xs-12 col-md-6">
                    
                </div>
            </div>
            <div class="row" style="height:400px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}